@font-face { font-family: Gilbert-Color; src: url('Gilbert-Color.otf'); } 
@font-face { font-family: Gilbert; src: url('Gilbert.otf'); } 

h1#name {
	text-align: center;
	color: #071F4B;
	font-family: Gilbert;
	font-size: 14vw;
	text-shadow: -2px -2px #FFFFFF, 
					2px -2px #FFFFFF,
					-2px 2px #FFFFFF,
					2px 2px #FFFFFF;
	padding: 0px 0px;
	display: inline;
	background-color: #999;
	float:right;
}

polygon.fold{
	opacity: 0.667;
}

path.fold{
	opacity: 0.667;
	stroke-width: 1;
	fill: none;
}

circle.fold{
	fill: #071F4B;
}

svg#origami{
	position:absolute;
	left: 0;
	top: 0;
	width: 800px;
	z-index: -1;
}

div#page{
	overflow: hidden;
	width:100%;
	min-height:100%;
	position: absolute;
	top: 0;
	left: 0;
}

div#menu{
	position: relative;
	left: 0%;
	width : 100%;
	text-align: center;
	color: #071F4B;
	font-family: Gilbert;
	font-size: 14vw;
	text-shadow: -2px -2px #FFFFFF, 
					2px -2px #FFFFFF,
					-2px 2px #FFFFFF,
					2px 2px #FFFFFF;
	padding: 0px 0px;
}

ul.menu{
	position: relative;
	left: 0%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

ul.menu li{
	float: left;
	width: 25%;
	font-size: 6vw;
}

ul.menu a{
	font-family: Gilbert;
	display: block;
	color: #071F4B;
	text-shadow: -2px -2px #FFFFFF, 
					2px -2px #FFFFFF,
					-2px 2px #FFFFFF,
					2px 2px #FFFFFF;
	text-align: center;
	text-decoration: none;
	padding: 15px; 
}

@media screen and (min-width: 800px) {
	svg#origami{
		width: 100%;
	}
	div#menu {
		text-align: right;
		font-family: Gilbert-Color;
		font-size: 7vw;
		left: 50%;
		width: 50%;
	}

	ul.menu li{
		float: left;
		width: 25%;
		font-size: 2vw;
		background-color: #000;
		border-radius: 50%;
	}
}


