@font-face { font-family: Gilbert-Color; src: url('Gilbert-Color.otf'); } 

h1#name {
	text-align: center;
	font-family: Gilbert-Color;
	font-size: 7vw;
	text-shadow: -2px -2px #FFFFFF, 
					2px -2px #FFFFFF,
					-2px 2px #FFFFFF,
					2px 2px #FFFFFF;
}

polygon.fold{
	opacity: 0.667;
}

path.fold{
	opacity: 0.667;
	stroke-width: 1;
	fill: none;
}

circle.fold{
	fill: #071F4B;
}

svg#origami{
	position:fixed;
	left: 0;
	margin-left: 0;
	top: 0;
	width: 800px;
	z-index: -1;
}

div#page{
	width:100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1224px){
	svg#origami{
		position:fixed;
		left: 50%;
		margin-left: -400px;
		top: 0;
		width: 800px;
		z-index: -1;
	}
	h1#name {
		text-align: right;
	}
	
	div#page{
		width:800px; 
		position: absolute; 
		top: 0; 
		left: 0; 
		margin-left: 0;
	}
}


@media screen and (min-width: 1224px) {

}
