<header class="site-header" role="banner">

  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <div id="title" class="social-media-list">
    <a href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>
    <div id="subtitle">Computer Science,<br/>Math, Origami, <br/>Economics, &amp; Life. </div>  
  </div>
  {% if page_paths %}
    <nav id="menu" >
      <ul>
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
            <li><a class="circle" href="{{my_page.permalink}}#_">&nbsp;&nbsp;{{ my_page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
