<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    <div id="page">
      {% include header.html %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <noscript>
            <p>Note: You currently have Javascript disabled. Some features of this website will be missing.</p>
          </noscript>
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>
  </body>

</html>
