---
layout: default
---

<div class="home">

  <h1>Blog</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2 class="post-header">
        
        {% if post.image %}
        <img class="circle circle-link" src="/assets/blog/{{ post.image }}">
        {% endif %}
        <a class="post-link large-circle nav" href="{{ post.url | relative_url }}#_">
          &nbsp;&nbsp;{{ post.title | escape }}
        </a>
        <div class="post-description">
	<div class="post-meta"><p>{{ post.date | date: date_format }}</p></div>
        {% if post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
        </div>
        </h2>
        
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
