@font-face { font-family: Gilbert-Color; src: url('Gilbert-Color.otf'); } 
@font-face { font-family: Gilbert; src: url('Gilbert.otf'); } 

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
}

body {
  opacity: 0;
}

p, ul, ol {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

img.circle {
  border-radius: 50%;
}

a.large-circle svg{
  transform:translateX(-50%);
}

img.circle-link {
  position: absolute;
  top: 12.5%;
  left: 0%;
  transform:translateX(-50%);
  height: 75%;
  z-index: -1;
}

img.circle-head {
  position: absolute;
  top: 0%;
  left: 50%;
  transform:translateX(-50%);
  height: 100%;
  z-index: -1;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  position: relative;
  top: 0px;
  left: 0px;
  font-weight: $base-font-weight;
  font-family: Gilbert;
  @extend %whiteshadow;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  font-family: Gilbert;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
  z-index: 1;
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Icons
 */
div.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

ul.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}

