@media screen and (min-width: 600px) {
  div#title{
    margin-left:45%;
  }
  div#title h1{
    text-align:left;
    font-family: Gilbert-Color;
    font-size: 9vw;
  }
  div#subtitle{
    display: block;
  }

  nav#menu ul{
    margin-left: 45%;
    width: 55%;
  }

  nav#menu li{
    font-size: 3.5vw;
  }


  div#page{
    padding-top: 20%;
  }

}

@media screen and (min-width: 800px) {
  svg#origami{
    width: 100%;
  }

  div.footer-col-1{
    width: 30%;
  }

  div.footer-col-2{
    width: 20%;
  }

  div.footer-col-3{
    width: 50%;
    max-width: 400px;
  }

}

