

div#page{
  overflow: hidden;
  width:100%;
  min-height:100%;
  padding-top: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

header.site-header{
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.footer-col{
  @include relative-font-size(1.125);
  float: left;
  padding: 0px;
  margin:0px;
  padding-bottom: $spacing-unit;
}  

h1.footer-heading{
  padding-bottom: 0px;
  font-family: Gilbert-Color;
}

div.footer-col ul{
  list-style-type: none;
  padding: 0;

  li {
    margin-left: 0;
  }
}

p.rss-subscribe{
  margin-top: 3*$spacing-unit;
}


div.footer-col-1{
  width: 100%;
  max-width: 200px;
}

div.footer-col-2{
  width: 100%;
  max-width: 150px;
}

div.footer-col-3{
  width: 100%;
  max-width: 350px;
}

div.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
}

div.wrapper {
  position: relative;
  left: 0;
  top: 0;
  padding-right: 5%;
  padding-left: 15%;
  margin: 0;
}




/**
 * Page content
 */
.page-content {
  width: 100%;
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

ul.post-list {
  margin-left: 0;
  list-style: none;
  margin-bottom: $spacing-unit;
}

ul.post-list li {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: $spacing-unit;
}

div.post-description{
  font-size: $small-font-size;
  position: absolute; 
  top:66%; 
  left: 0;
  padding-left: 2*$spacing-unit;
  color: $grey-color;
  top: 0 px;
  left: 0px;
  margin:0px;
  @extend %whiteshadow;
}


a.post-link {
  padding-top: $spacing-unit;
  padding-left: $spacing-unit;
  display: block;
  @include relative-font-size(1.5);
}

p.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
  padding-bottom: $spacing-unit;
  @extend %whiteshadow;
}

/**
 * Posts
 */
h2.post-header {
  padding-bottom: $spacing-unit;
}

h1.post-title {
  padding-top: 10%;
  padding-bottom: 10%;
  max-height: 300px;
  @include relative-font-size(2.625);
  line-height: 1;
  text-align: center;
}

div.post-content {
  margin-bottom: $spacing-unit;

  p {
    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
  }
}
