
p, ul {
  line-height: inherit;
}

ul.skills{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  
  li{
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 0;
    padding-bottom: $spacing-unit/2;
    @extend %whiteshadow;

    a{
      display : block;
      word-wrap: break-word;
      cursor:pointer;
    }
  }
  
}

a.printable{
  display: block; 
  text-align: center;
  @extend %whiteshadow;
}

svg.skills{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

path.skills-bar{
  stroke-opacity: 0.667;
  stroke-width: 0.5;
  fill: none;
}

path.skills-back{
  stroke: $grey-color-light;
  stroke-opacity: 1;
  stroke-width: 0.5;
  fill: none;
}

div#skills-bar{
  width: 100%;
  display: inline-block;
}

div.skills{
  padding-left: 1%;
  padding-right: 1%;
  float: left;
}

div.skills-1{
  width: 54%;
  svg.skills {
    width: 77.7777%;
  }
}

div.skills-2{
  width: 42%;

  svg.skills {
    width: 100%;
  }
}


div.chart-bar{
  width: 100%;
  display: inline-block;
  float: right;  

  div.chart{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
  }

  div.popup{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    height: 100%;
    opacity: 0;
    display: inline-block;
    background-color: $background-color;
    overflow-y: auto;
    li{
        margin-left: $spacing-unit;
    }
  }
}


a.experience{
  z-index: 1;
  font-family: Gilbert;
  font-size: 10px;
  fill: $brand-color;

  &:hover {
    fill: $text-color;
    text-decoration: underline;
    cursor:pointer;    
  }
}

path.text-line{
  fill: none;
  stroke: $brand-color;
  stroke-width: 1px;
  stroke-dasharray: 1, 1, 1;
}

circle.education{
  fill-opacity: 0.667;
  stroke-width: 2;
}

div.footer-col-3{
  display: none;
}
